{% extends "backend.twig" %}

{% block content %}
    <div class="table-responsive">
        <div class="centrado">
            <h1>Alumnos con matricula paga</h1>
        </div>
        <br />
        <table id="tabla" class="table table-hover">
            <thead>
                <tr>
                    <th>Numero de Documento</th>
                    <th>Apellido</th>
                    <th>Nombre</th>
                    <th>Numero de Matricula</th>
                    <th>Mes</th>
                    <th>Año</th>
                    <th>Monto</th>
                    <th>Becada</th>
                </tr>
            </thead>
            <tbody>
                {% for matricula in matriculas %}
                    <tr>
                        <td> {{ matricula.numeroDocumento }} </td>
                        <td> {{ matricula.apellido }} </td>
                        <td> {{ matricula.nombre }} </td>
                        <td> {{ matricula.numero }} </td>
                        <td> {{ matricula.mes }} </td>
                        <td> {{ matricula.anio }} </td>
                        <td> {{ matricula.monto }} </td>
                        <td>
                            {% if(matricula.becado == true) %}
                                Si
                            {% else %}
                                No
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    <br />
{% endblock %}