{% extends "backend.twig" %}

{% block content %}
	<div class="centrado">
		<h1>Alumno a modificar: {{ alumno.apellido }} {{ alumno.nombre }}</h1>
	</div>
	<div class="centrado">
		<div id="error">{{ var.error.alumno }}</div>
	</div>
	<form action="../Alumno/modificarAlumno" method="post" accept-charset="utf-8">
		<div class="row">
			<div class="col-md-5">
			</div>
			<div class="col-md-2">
				<div class="form-group">
					<input type="hidden" name="idAlumno" value="{{ alumno.id }}">
				</div>
				<div class="form-group">
					<div id="error">{{ var.error.tipoDocumento }}</div>
					<label>Tipo documento:</label>
					<select name="tipoDocumento">
						{% if(alumno.tipoDocumento == 'CI') %}
					  		<option value="DNI">DNI</option>
					  		<option value="CI" selected="selected">Cedula de identidad</option>
					  		<option value="LE">Libreta de enrolamiento</option>
					  		<option value="LC">Libreta civica</option>
					  	{% elseif(alumno.tipoDocumento == 'LE') %}
					  		<option value="DNI">DNI</option>
					  		<option value="CI">Cedula de identidad</option>
					  		<option value="LE" selected="selected">Libreta de enrolamiento</option>
					  		<option value="LC">Libreta civica</option>
					  	{% elseif(alumno.tipoDocumento == 'LC') %}
					  		<option value="DNI">DNI</option>
					  		<option value="CI">Cedula de identidad</option>
					  		<option value="LE">Libreta de enrolamiento</option>
					  		<option value="LC" selected="selected">Libreta civica</option>
					  	{% else %}
					  		<option value="DNI">DNI</option>
					  		<option value="CI">Cedula de identidad</option>
					  		<option value="LE">Libreta de enrolamiento</option>
					  		<option value="LC">Libreta civica</option>
					  	{% endif %}
					</select>
				</div>
				<div class="form-group">
					<div id="error">{{ var.error.numeroDocumento }}</div>
					<label>Número de documento:</label>
					<input id="numeroDocumento" name="numeroDocumento" type="number" required="required" class="form-control" min="10000000" max="99999999" title="Ingrese un número de dni válido" value="{{ alumno.numeroDocumento }}">
				</div>
				<div class="form-group">
					<div id="error">{{ var.error.apellido }}</div>
					<label>Apellido:</label>
					<input id="apellido" name="apellido" required="required" class="form-control" pattern="[A-Za-z\s]{2,30}" title="Ingrese un mínimo de 2 letras, máximo 30" value="{{ alumno.apellido }}">
				</div>
				<div class="form-group">
					<div id="error">{{ var.error.nombre }}</div>
					<label>Nombre:</label>
					<input id="nombre" name="nombre" type="text" required="required" class="form-control" pattern="[A-Za-z\s]{2,30}" title="Ingrese un mínimo de 2 letras, máximo 30" value="{{ alumno.nombre }}">
				</div>
				<div class="form-group">
					<div id="error">{{ var.error.fechaNacimiento }}</div>
					<label>Fecha de nacimiento:</label>
					<input id="fechaNacimiento" name="fechaNacimiento" type="datetime" required="required" placeholder="AAAA-mm-dd" class="form-control" value="{{ alumno.fechaNacimiento }}" pattern="[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|1[0-9]|2[0-9]|3[0-1])">
				</div>
				<div class="form-group">
					<div id="error">{{ var.error.sexo }}</div>
					<label>Sexo:</label>
					<div class="centrado">
						{% if(alumno.sexo is defined) %}
							{% if(alumno.sexo == 'M') %}
								<input name="sexo" type="radio" value="M" required="required" checked="checked">
								<label>M</label>
								<input name="sexo" type="radio" value="F" required="required">
								<label>F</label>
							{% else %}
								<input name="sexo" type="radio" value="M" required="required">
								<label>M</label>
								<input name="sexo" type="radio" value="F" required="required" checked="checked">
								<label>F</label>
							{% endif %}
						{% else %}
							<input name="sexo" type="radio" value="M" required="required">
							<label>M</label>
							<input name="sexo" type="radio" value="F" required="required">
							<label>F</label>
						{% endif %}
					</div>
				</div>
				<div class="form-group">
					<div id="error">{{ var.error.mail }}</div>
					<label>Email:</label>
					<input id="mail" name="mail" type="email" pattern=".{3,50}" class="form-control" title="Ingrese un mínimo de 3 carácteres, máximo 50" value="{{ alumno.mail }}">
				</div>
				<div class="form-group">
					<div id="error">{{ var.error.direccion }}</div>
					<label>Dirección:</label>
					<input id="direccion" name="direccion" type="text" required="required" class="form-control" pattern=".{3,50}" title="Ingrese un mínimo de 3 carácteres, máximo 50" value="{{ alumno.direccion }}">
				</div>
				<div class="form-group">
					<div id="error">{{ var.error.fechaIngreso }}</div>
					<label>Fecha de ingreso:</label>
					<input id="fechaIngreso" name="fechaIngreso" placeholder="AAAA-mm-dd" type="datetime" required="required" class="form-control" value="{{ alumno.fechaIngreso }}" pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])">
				</div>
				<br />
				<div class="centrado">
					<input name="enviar" type="submit" class="btn btn-primary" value="Enviar">
				</div>
			</div>
		</div>
	</form>
	<br />
	<form action="../Alumno/controlAlumno">
		<div class="centrado">
  			<button class="btn btn-primary" value="Cancelar">Cancelar</button>
		</div>
	</form>
	<br />
{% endblock %}